# =========================================================
# AI_ML_Fellowship
# Global Git Ignore
# =========================================================

# =========================================================
# Python
# =========================================================

__pycache__/
*.py[cod]
*$py.class

# Virtual e*vironments
.venv-tomo/
*venv-project3/

# Python build artefacts
build/
dist/
*.egg-info/

# =========================================================
# IDE
# =========================================================

.vscode/
.idea/

# =========================================================
# Operating system
# =========================================================

.DS_Store
Thumbs.db

# =========================================================
# Logs
# =========================================================

Project2/Logs/*
Project3/Logs/*

!Project2/Logs/.gitkeep
!Project3/Logs/.gitkeep

# =========================================================
# Models
# =========================================================

**/big-lama.pt
**/RealESRGAN_x4plus.pth

# Keep folder structure
!Project2/Models/.gitkeep
!Project3/Models/.gitkeep

# =========================================================
# MLFlow
# =========================================================

Project2/mlruns/

# =========================================================
# Videos
# =========================================================

Project2/Video/*.avi
Project3/Video/*.avi

!Project2/Video/.gitkeep
!Project3/Video/.gitkeep

# =========================================================
# Ignore ALL PNG files everywhere
# =========================================================

**/*.png

# =========================================================
# Keep sample images
# =========================================================

!**/sample.png

# =========================================================
# Keep folder structure markers
# =========================================================

!**/.gitkeep